# Backend
backend/vendor/
backend/node_modules/
backend/.env
backend/storage/*.key
backend/storage/app/public/telegram/
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/storage/logs/
backend/bootstrap/cache/
backend/public/storage

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Admin
admin/node_modules/
admin/dist/
admin/.env
admin/.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
